:root {
    --main-vivo: #660099;
    --hover-color: #b64beb;
    --main-color: #FFFFFF;
    --main-text: #000000;
    --alt-text: #FFFFFF;
    --color-metas: #4e4949;
    --border-main: 2px solid #676767;
    --main-padding: 30px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    padding: 15px var(--main-padding);

    background-color: var(--main-vivo);
    color: var(--alt-text);
}

header div, header nav {
    display: flex;
    align-items: center;
}

header div {
    justify-content: center;
}

header nav {
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
}

.vivo-logo img {
    margin-right: 10px;
    filter: grayscale(100%) brightness(1000%);
    width: 30px;
    height: 40px;
}

.current-page {
    text-decoration: underline;
}

.border-btn, nav a, .current-page {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.border-btn, nav a {
    text-decoration: none;

}

nav a {
    color: var(--main-color);
}

.border-btn {
    border: 2px solid var(--main-vivo);
    border-radius: 10px;
    padding: 5px;

    transition: 0.5s;
    text-decoration: none;
    color: var(--main-vivo);
}

.border-btn:hover {
    border: 2px solid var(--hover-color);
    color: var(--hover-color);
}

.title-main {
    text-align: center;
    margin: 20px 0;
}

.h1-titulo {
    font-family: "Open Sans", sans-serif;
}

.h1-metas {
    color: var(--color-h3);
    margin: 5px;
}

.h1-status {
    color: var(--color-h3);
    margin: 5px;
    text-align: right;
    
}

.p-metas {
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

section {
    border: var(--border-main);
    padding: 10px var(--main-padding);
    margin: 15px 5px;
}

.metas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-title {
    color: var(--color-metas);
    font-weight: bold;
    font-size: 1.3em;
    
}

.metas-grid > *, .tarefas-grid > *{
    border-bottom: var(--border-main);
    padding: 6px 0;
}

.metas-grid a {
    width: fit-content;
}

.apertar-botao {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.apertar-botao img {
    width: 30px;
    height: auto;
}

.tarefas-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.tarefas-grid > * {
    padding-right: 20px;
}

.section-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--color-metas);
}

.rede-imgs {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.rede-img > img {
    height: auto;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 50%;
}

.rede-img {
    min-width: 200px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.rede-img p:first-of-type {
    font-weight: 600;
    margin-top: 10px;
}

.full {
    min-height: 82vh;
}

.rede-imgs.full .rede-img {
    max-width: 15%;
}

.rede-img div {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.rede-img div img {
    height: auto;
    width: 25px;
}

.progress-bar-container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.progress-bar {
    margin: 100px 0 50px;
    border: 1px solid black;
    height: 50px;
    width: 60vw;
}

.current-progress {
    height: 100%;
    width: 25%;
    background-color: var(--main-vivo);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    font-weight: 600;
}

#central-documentos {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#links-uteis, #seus-beneficios {
    grid-column: 1 / 3;
}

.documentos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.documentos-container div {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#documentos-importantes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

#documentos-importantes div {
    display: flex;
    flex-direction: column;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
font-size: 13px;
color: #777;
float: right;
margin-left: 5px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}